@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/*	HTML and general styles	*/

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	width: 100%;

	overflow-y: hidden;
	font: 400 14px Roboto, sans-serif;
}

#root {
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

body {
	-webkit-font-smoothing: antialiased;

	background-image: url(./assets/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.jumbotron {
	font-weight: bolder;
	color: rgb(255, 255, 255);
	background-color: rgba(126, 123, 215, 0.521);

	border-style: solid;
	border-width: 0.5px;
	border-radius: 50px;
	border-color: rgba(255, 255, 255, 0.445);
}

.form-control:not(textarea) {
	border-radius: 100px;
}

.form-control {
	font-size: 15px;
	font-weight: bold;
	background-color: rgba(126, 123, 215, 0.521);
	color: #fff;
}

.form-control::placeholder {
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.58);
}

.form-control.search {
	font-size: 20px;
	border-style: hidden;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

@media (min-width: 0) {
	.display-3 {
		font-size: 200%;
	}
}

@media (min-width: 320px) {
	.display-3 {
		font-size: 210%;
	}
}

@media (min-width: 375px) {
	.display-3 {
		font-size: 250%;
	}
}

@media (min-width: 425px) {
	.display-3 {
		font-size: 280%;
	}
}

@media (min-width: 768px) {
	.display-3 {
		font-size: 450%;
	}
}

@media (min-width: 1024px) {
	.display-3 {
		font-size: 500%;
	}
}

@media (min-width: 1440px) {
	.display-3 {
		font-size: 600%;
	}
}

@media (min-width: 2560px) {
	.display-3 {
		font-size: 800%;
	}
}