@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url(../public/bg.jpg);
  background-size: cover;
	background-attachment: fixed;
	background-position: center;
}


/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: var(--secondary) var(--primary);
	/* scroll-behavior: smooth; */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #7E7BD785;
}

::-webkit-scrollbar-thumb {
	border-radius: 50px;
  background: #9333ea;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
